.ask-form {
  display: center;
  text-align: center;
}


.answer {
  width: 500px;
  padding: 8px;
  text-align: center;
  box-shadow: 0px 0px 15px lightgrey;
}

.coach {
  background-color: #fff4c8;
}

.ask{
  width: 500px;
  padding: 8px;
  text-align: center;
  box-shadow: 0px 0px 15px lightgrey;
}
